body {
    font-family: "Sour Gummy", sans-serif;
    background-color: #f8fafc;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    color: #334155;
}
p {
    font-size: 1.2rem;
    color: #475569;
}
button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2563eb;
}
.container {
    padding-top: 100px;
}
.no-center {
    text-align: left;
    padding-top: 0;
    padding-left: 15px;
}
body.no-center {
    padding-top: 0;
}
.nav-icons {
    position: absolute;
    top: 30px;
    right: 40px;
}
.nav-icons a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
}
.nav-icons a:hover {
    color: #007bff;
}
.addTable#addForm {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    border: 2px solid black;
    max-width: 1330px;
}
.viewTable {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    border: 2px solid black;
    max-width: 1330px;
}
.viewTable table {
    width: 110%;
    border-collapse: collapse;
}
.viewTable th,
.viewTable td {
    padding: 7px 12px;
    text-align: left;
}
.submit-btn {
    background-color: #4f7df5;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.submit-btn:hover {
  background-color: #3f6de0;
}
.goal-section-title {
  text-align: left;
  margin-left: 20px;
}

.goal-card {
  width: 100%;
  max-width: 97%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: left;
}
.goal-form {
    max-width: 1000px;
    margin-left: 20px;
}
.goal-container {
    margin-left: 20px;
}
.goal-form h2,
.goal-form label,
.goal-form input,
.goal-form textarea {
  text-align: left;
  display: block;
  width: 96%;
}
.dashboard-all {
    text-align: left;
    margin: 40px;
}
.summary {
        margin-top: 20px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        width: 400px;
}
.buttons {
        margin-top: 30px;

}
.buttons a {
        display: inline-block;
        margin-right: 15px;
        padding: 10px 18px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .buttons a:hover {
        background-color: #2980b9;
    }
